{
    "tabWidth": 4,
    "printWidth": 150,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
