@layer base, starlight, theme, nova, pycord, components, utilities, discord-components; /* Keep this at top */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Geist:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source inline("p-8 mt-24");
@source "../components/**/*.{astro,html,js,jsx,ts,tsx,vue,svelte,md,mdx}";
@source "../content/**/*.{astro,html,js,jsx,ts,tsx,vue,svelte,md,mdx}";

@theme {
    --font-display: "Saira";
    --font-sans: "Geist";
    --font-mono: "Jetbrains Mono";

    --color-blurple: #5865f2;
    --color-light-blurple: #e0e3ff;
    --color-grey: #2c2c30;
    --color-dark-grey: #1f1f1f;
    --color-discord-red: #d22d39;
    --color-discord-green: #43a25a;

    --color-accent-200: var(--color-light-blurple);
    --color-accent-600: var(--color-blurple);
    --color-accent-900: #2e36b9;
    --color-accent-950: #232a66;

    --color-gray-100: #f6f6f6;
    --color-gray-200: #eeeeee;
    --color-gray-300: #c2c2c2;
    --color-gray-400: #8b8b8b;
    --color-gray-500: #585858;
    --color-gray-700: var(--color-grey);
    --color-gray-800: var(--color-dark-grey);
    --color-gray-900: #161618;

    --color-discord-bg: #323339;

    --radius-mini: 0.125rem;
}

@layer components {
    .blurple-btn {
        background-color: var(--color-blurple) !important;
        padding: 0.3rem 0.8rem !important;
        border-radius: var(--radius-lg) !important;
        @apply text-sm hover:brightness-85;
    }

    .grey-btn {
        background-color: var(--color-grey) !important;
        padding: 0.3rem 0.8rem !important;
        border-radius: var(--radius-lg) !important;
        @apply text-sm hover:brightness-85;
    }

    .red-btn {
        background-color: var(--color-discord-red) !important;
        padding: 0.3rem 0.8rem !important;
        border-radius: var(--radius-lg) !important;
        @apply text-sm hover:brightness-85;
    }

    .green-btn {
        background-color: var(--color-discord-green) !important;
        padding: 0.3rem 0.8rem !important;
        border-radius: var(--radius-lg) !important;
        @apply text-sm hover:brightness-85;
    }
}

@layer pycord {
    /* Pycord customizations */
    button,
    a {
        @apply transition-all duration-200;
    }

    img {
        border: 1px solid var(--color-gray-600) !important;
        border-radius: var(--radius-lg) !important;
    }

    .site-title {
        background: linear-gradient(
            45deg,
            var(--color-blurple),
            var(--color-blurple),
            var(--color-light-blurple),
            var(--color-blurple),
            var(--color-blurple),
            var(--color-light-blurple),
            var(--color-blurple),
            var(--color-blurple)
        );
        background-size: 200% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradient 6s linear infinite;
        @apply font-display;
    }

    a[class*="site-title"] span {
        @apply text-xl md:text-2xl;
    }

    div[class*="hero"] img,
    img[alt="Pycord Logo"] {
        border: none !important;
        border-radius: 0 !important;
    }

    @keyframes gradient {
        0% {
            background-position: 0% center;
        }
        50% {
            background-position: 100% center;
        }
        100% {
            background-position: 200% center;
        }
    }

    .sl-heading-wrapper {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply font-display;
        }
    }

    [data-page-title],
    [id="_top"],
    summary[class*="astro-"],
    group-label {
        @apply font-display;
    }
}

@layer discord-components {
    .discord-messages {
        all: initial;
        font-family: "Whitney", sans-serif;
        background-color: var(--color-discord-bg);
    }

    .wb-msg-c-mention-icon-wb {
        vertical-align: initial !important;
    }

    .wb-msg-c-button-component-wb {
        /* Buttons */
        margin-top: 0;
    }

    .wb-msg-c-message-wb,
    .wb-msg-c-message-container-wb,
    .wb-msg-c-message-group-wb {
        /* Remove space between messages */
        margin-top: 0;
    }

    .wb-msg-c-md-text-wb,
    .wb-msg-c-md-inline-code-wb {
        /* Fix text alignment inside messages */
        vertical-align: top !important;
    }

    .wb-msg-c-message-header-wb {
        margin-top: 0;
    }
}

/* Discord Components */
@font-face {
    font-family: "Whitney";
    src: url("https://cdn.skyra.pw/whitney-font/v2/Book.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Whitney";
    src: url("https://cdn.skyra.pw/whitney-font/v2/Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Whitney";
    src: url("https://cdn.skyra.pw/whitney-font/v2/Semibold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Whitney";
    src: url("https://cdn.skyra.pw/whitney-font/v2/Bold.woff") format("woff");
    font-weight: 700;
}
