---
import { MessageGroup } from "@widgetbot/message-renderer/dist/message-renderer.mjs";
let { messages } = Astro.props;
if (!Array.isArray(messages[0])) {
    messages = [messages];
}
---

<div class="discord-messages-container flex flex-col gap-y-4 rounded-[1px] border border-gray-600 py-8 align-middle">
    {
        messages.map((messages_group) => (
            <div class="discord-messages">
                <MessageGroup messages={messages_group} client:only="react" />
            </div>
        ))
    }
</div>
